/* Variables */
:root {
  --primary-color-purple: #6A4FEB;
  --secondary-color-light-purple: #FBFAFF;
  --color-blue: #13287E;
  --color-light-blue: #93A7BE;
  --color-red: #983C42;
  --color-dark-red: #E84118;
  --color-light-lavender: #F0EDFD;
  --color-white: #ffffff;
  --color-black: black;
  --box-shadow :drop-shadow( 0px 4px 4px rgba(0, 0, 0, 0.25));
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none!important;

}

input:-webkit-autofill {
  -webkit-box-shadow:0 0 0 50px #fff inset; 
  box-shadow: transparent;
  -webkit-text-fill-color: #fff;
}
body {
  background:  var( --secondary-color-light-purple);
  font-family: 'Poppins';
  font-style: normal;
  overflow-x: hidden;
  font-size: 16px;
  font-weight: 400;
}
.fontfamily-Pacifico{
  font-family: 'Pacifico';

}
.fontfamily-Poppins{
  font-family: 'Poppins';
}
.regular {
  font-weight: 400!important;
}
.semiBold {
  font-weight: 600!important;
}
.extraBold {
  font-weight: 800!important;
}
.active {
  padding-bottom: 10px;
  border-bottom: 2px solid  var(--primary-color-purple);
  color:  var(--primary-color-purple);
}
.tag {
  padding: 5px 10px; /* 5px top and bootom || 10px left and right */
  margin: 10px 0;
}
.box-shadow {
  filter: var(--nav-shadow);
}

/* FONT SIZES */
.font11 {
  font-size: 0.688rem;
}
.font12 {
  font-size: 0.75rem;
}
.font13 {
  font-size: 0.813rem;
}
.font14 {
  font-size: 0.875rem;
}
.font15 {
  font-size: 0.938rem;
}
.font18 {
  font-size: 1.125rem;
}
.font20 {
  font-size: 1.25rem;
}
.font26 {
  font-size: 26px;
  line-height: 39px; 
}
.font30 {
  font-size: 1.875rem;
}
.font40 {
  font-size: 2.5rem;
}
.font45 {
  font-size: 45px;
  line-height: 63px;
}
@media only screen and (max-width: 859px) {
  .font11 {
    font-size: 0.688rem;
  }
  .font12 {
    font-size: 0.688rem;
  }
  .font13 {
    font-size: 0.75rem;
  }
  .font14 {
    font-size: 0.813rem;
  }
  .font15 {
    font-size: 0.813rem;
  }
  .font18 {
    font-size: 0.938rem;
  }
  .font20 {
    font-size: 1.125rem;
  }
  .font25 {
    font-size: 1.25rem;
  }
  .font30 {
    font-size: 1.5rem;
  }
  .font40 {
    font-size: 1.875rem;
  }
  .font60 {
    font-size: 2.8rem;
  }
}


/* BORDER RADIUS */
.radius16 {
  border-radius: 16px;
}
.radius9{
  border-radius: 9px;
}
.radius5{
  border-radius: 5px;
}
/* Text Color Classes */
.cl-purple {
  color: var(--primary-color-purple);
}

.cl-light-purple {
  color: var(--secondary-color-light-purple);
}

.cl-blue {
  color: var(--color-blue);
}

.cl-light-blue {
  color: var(--color-light-blue);
}

.cl-red {
  color: var(--primary-color-red);
}

.cl-dark-red {
  color: var(--color-dark-red);
}

.cl-light-lavender {
  color: var(--color-light-lavender);
}

.cl-white {
  color: var(--color-white);
}

.cl-black {
  color: var(--color-black);
}

/* Background Color Classes */
.bg-purple {
  background-color: var(--primary-color-purple);
}

.bg-light-purple {
  background-color: var(--secondary-color-light-purple);
}

.bg-blue {
  background-color: var(--color-blue);
}

.bg-light-blue {
  background-color: var(--color-light-blue);
}

.bg-red {
  background-color: var(--primary-color-red);
}

.bg-dark-red {
  background-color: var(--color-dark-red);
}

.bg-light-lavender {
  background-color: var(--color-light-lavender);
}

.bg-white {
  background-color: var(--color-white);
}

.bg-black {
  background-color: var(--color-black);
}


/* FLEXBOX */
.flex {
  display: flex;
}
.flexSpaceCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexNullCenter {
  display: flex;
  align-items: center;
}
.flexColumn {
  flex-direction: column;
}
.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexSpaceNull {
  display: flex;
  justify-content: space-between;
}

/* HELLPERS */
.textCenter {
  text-align: center
}
.animate {
  transition: 0.3s ease;
}
.pointer {
  cursor: pointer;
}
.relative {
  position: relative;
}
.textCenter {
  text-align: center;
}
.textLeft {
  text-align: left;
}
.textRight {
  text-align: right;
}
.x100 {
  width: 100%;
}